*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.topbarcontainer{
    height: 50px;
    width: 100%;
    background-color: hsla(219,32%,12%,1);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999; 
}
.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
.topbarLeft{
    flex: 3;
}
.topbarCenter{
    flex: 5;
}
.search-bar{
    width: 100%;
    height: 30px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.search-input{
    border: none;
    width: 70%;
    outline: none;
}
.search-icon{
    font-size: 20px !important;
    margin-left: 10px;
}
.topbarRight{
    display: flex;
    align-items: center;
    width: 50vh;
    justify-content: space-around;
    flex: 4;
    color: #fff;
}
.top-barlinks{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}
.topbarIcons{
    display: flex;
}
.topbarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}
.topbariconbadge{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.Topbar-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-left: 0%;
    background-color: #fff;
}