.Profile{
    display: flex;
    background-color: hsla(219, 48%,8%,1);
    color: #fff;
}
.ProfileRight{
    flex: 9;
}
.profilerightBottom{
    display: flex;
}
.profileCover{
    height: 320px;
    position: relative;
}
.ProfileCoverImg{
    width: 100%;
    height: 295px;
    /* object-fit: cover; */
    /* background-size: center; */
    /* background-position: center; */
}
.ProfileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    /* border: 3px solid #fff; */
    background-color: #fff;
    top: 149px;
}
.ProfileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
    /* margin-bottom: 25%; */
    font-size: 10px;
}
.ProfileInfoName{
    font-size: 20px;
    
}