.login{
    /* width: 100vw; */
    /* height: 100vh; */
    /* background-color: #0b111e; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginWrapper{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    width: 70%;
    height: 70%;
    /* background-color: yellow; */
}
.loginLeft , .loginRight{
    display: flex;
    flex: 1;
    /* flex-direction: column; */
    justify-content: center;   
    /* row-gap: 2rem; */
}
.loginLogo{
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
}
.loginDesc{
    font-size: 24px;
}
.LoginInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
    outline: none;
}
.LoginButton{
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #1775ee;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.loginForgot{
    text-align: center;
    color: #1775ee;
    cursor: pointer;
}
.loginRegisterButton{
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #42b72a;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.loginbox{
    display: flex;
    flex-direction: column;
    height: 350px;
    row-gap: 20px;
    padding: 35px;
    background: #151c28;
    border-radius: 20px; 
    margin-left: 3%;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}